/* CSS BY Lilly/Liliana Mena */

/* IMPORTED FONTS:*/ 
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET: */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,  div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
    text-decoration: none;
}

/* ROOT VARIABLES: */
:root{
    --Teal: #4CA7C0;
    --Purple: #484FB7;
    --Lavender: #6B8FE7;
    --Yellow:#E9BB57;
    --Pink: #D9526F;
    --Dark-gray:#1E1E1E;
    --White:#ffffff;
    --Box-shadow: 3px 3px 4px 2px var(--Dark-gray);
    --BigHeaderFont:"Kavoon";
    --Primary-font:"Inter";
}
/* GLOBAL STYLES (mobile first/small) :*/
body{
    background-color: var(--Lavender);
    font-family: var(--Primary-font);
    width: 450px;
    max-width: 450px;
    margin: 0 auto ;
}
header{
    text-align: center;
}

header > h1, header > p{
    background-color: var(--Purple);
    color:var(--White);}

    
header h1{
    padding-top: 40px;
    padding-bottom: 15px;
}
header p{
    padding-bottom: 40px;
    font-style: italic;
}

nav{
    background-color: var(--Yellow);
    padding-top:8px;
    padding-bottom: 20px;
    padding-left: 20px;
    
}

nav h2{
    font-family: var(--Primary-font);
    color:var(--Dark-gray);
    font-size: 1.7em;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 12px;
}
nav ul{
    display:grid;
    grid-template-columns: 1fr;
    row-gap: 12px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
nav li{ 
    width: 400px;
    background-color: var(--White);
    padding: 1em .3em;
}
nav li > a {
    text-transform: uppercase;
    text-decoration: none;
    color:var(--Purple);
    font-weight: bold;
}
main{   
    background-color: var(--Purple);
    
}
main p{
    color:var(--Dark-gray);
    line-height: 1.5;
}

h1,h2{
    color:var(--White);
    font-family: var(--BigHeaderFont);
}
h1{
    font-size: 3em;
    text-align: center;
}
h2,h3,h4{padding-left: 12px;}

h2{ padding-top:12px;
    padding-bottom: 6px;
    font-size: 2em;
}

h3{
    color:var(--Yellow);
    font-size: 1.5em ;
    font-weight: bold;
    
}

h4{
    font-weight: bold;
    font-size: 1.15em;
    color:var(--Purple);
}

section section section{
    background-color: var(--White);
    border-radius: 4%;
    text-align: left;
    padding:12px;
    margin: 1em 1.5em;
    border: 1em;
}

section section section *{
    background-color: var(--White);
    padding: 5px 12px;
}

main > section:nth-last-of-type(2){
    background-color: var(--Pink); 
    display: inline-block;
    padding-top: 5px;
}

section>div{
    background-color: var(--Pink);
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-radius: 10%;
    margin:14px;
    gap: 16px;

}


div div{
    font-size: larger;
    font-weight: bold;
    text-align: center;
    padding: 40px 6px; 
    border-radius: 15px;
    color: var(--Dark-gray);
}

div div:first-child{
    background-color: var(--Teal);
 
}
div div:nth-child(2){
    background-color: var(--Lavender);
}
div div:nth-child(3){
    background-color: var(--Yellow);
}
div div:last-child{
    background-color: var(--White);
} 

section table{
    background-color: var(--Purple);
    display:grid;
    justify-content: center;
    padding:10px;
    
}
table tr,td,th{
    border: 2px solid var(--Yellow);
    background-color: var(--White);
    padding: 15px 15px;
}
table tr>th {
    background-color: var(--Yellow);
    font-weight: bold;
    font-size: medium;
    text-transform: uppercase;
    color:var(--Dark-gray);
}


main>div{
    background-color: var(--Pink);
    color: var(--White); 
    padding:8px 5px;
    display:flex;
    flex-wrap:wrap;
    text-align: left;

}
main>div h2{
    padding-bottom: 3px;
} 

main>div p{
    color:var(--White);
    background-color: var(--Pink);
    padding: 7px 12px;
}

 button {
    text-decoration: none;
    text-align: center;
    background-color: var(--White); 
    color: var(--Dark-gray);
    font-weight: bold;
    font-size: medium;
    text-transform: uppercase;
    padding: 25px 130px;
    border: 0;
    border-radius: 15px;
    align-items: center;
    box-shadow: var(--Box-shadow);
    margin: auto;
    
}

footer{
    margin-bottom: 2rem;
    padding: 55px;
    background-color: var(--Purple);
    display:grid;
    grid-template-columns: 1fr 1fr;
    color: var(--White);
    display:grid;
    gap:12px;
    font-size: smaller;
    text-align: center;
    
   
}
footer a{
    display: inline;
    text-decoration: underline;
}

